.genreWrapper {
	margin: 10px 0;
	background: #ECECEC;
	padding: 10px;
	line-height: 30px;

	div {
		border: 1px dashed #c4c4c4;
	}
}

.titleInput {
	margin-bottom: 10px;
}

.dropdown {
	width: 100%;
}

.radioGroup {
	margin-bottom: 10px;
}

.checkboxGroup {
	display: flex;
}

.errorMessage {
	margin-top: 20px;
}

.successMessage {
	margin-top: 20px;
}
