/*
 * ##########################
 * ######### COLORS #########
 * ##########################
*/

$primary-color: #fcfcfc;
$secondary-color: #ffffff;

$light-contrast: #f7f7f7;
$medium-contrast: #ededed;
$heavy-contrast: #292c33;

/*
 * ##########################
 * #### MARGIN & PADDING ####
 * ##########################
*/

$margin-base-vertical: 10px;
$margin-base-horizontal: 15px;

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

/*
 * ##########################
 * ######## HEADING #########
 * ##########################
*/

$heading1: 32px;
$heading2: 28px;
$heading3: 24px;
$heading4: 20px;

/*
 * ##########################
 * ######## Z-INDEX #########
 * ##########################
*/

$z-index-1: 10;
$z-index-2: 100;
$z-index-3: 1000;
$z-index-4: 10000;
$z-index-5: 100000;
$z-index-6: 1000000;
