@import '../../assets/styles/variables.scss';

:global {
	.ant-card-body {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 200px;
	}
}

.layout {
	min-height: 100vh;
	background: $primary-color;

	.cardBox {
		margin-bottom: 6 * $margin-base-vertical;
	}
}

.head {
	margin: (4 * $margin-base-vertical) 0;
	text-align: center;
	h1 {
		font-size: $heading1;
		letter-spacing: 3px;
	}
}

.cardWrapper {
	padding: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		margin: 0;
		padding: 0;
		line-height: 18px;
		font-size: 18px;
	}

	span {
		font-size: 45px;
	}
}

.fixedBar {
	position: fixed;
	bottom: -5px;
	left: 0;
	background: #fff;
	padding: 10px 0 15px 0;
	width: 100vw;

	-webkit-box-shadow: 0px -9px 14px -10px rgba(204,204,204,0.31);
	-moz-box-shadow: 0px -9px 14px -10px rgba(204,204,204,0.31);
	box-shadow: 0px -9px 14px -10px rgba(204,204,204,0.31);
}
